<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupao.edu.account.server.mapper.MemberRightResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gupao.edu.account.client.entity.MemberRightResource">
        <id column="id" property="id" />
        <result column="resource_type" property="resourceType" />
        <result column="resource_id" property="resourceId" />
        <result column="name" property="name" />
        <result column="summary" property="summary" />
        <result column="picture" property="picture" />
        <result column="cost" property="cost" />
        <result column="price" property="price" />
        <result column="description" property="description" />
        <result column="receive_num" property="receiveNum" />
        <result column="invalid_state" property="invalidState" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resource_type, resource_id, name, summary, picture, cost, price, description, receive_num, invalid_state, create_time, update_time
    </sql>

    <select id="selectMemberRightResourceByRightId" parameterType="Integer" resultMap="BaseResultMap">
        SELECT mrr.id, mrr.resource_type, mrr.resource_id, mrr.name, mrr.summary, mrr.picture, mrr.cost, mrr.price,
        mrr.description, mrr.receive_num, mrr.invalid_state, mrr.create_time, mrr.update_time
        FROM `member_right_resource` mrr
        LEFT JOIN `member_right_resource_rel` mrrr ON mrrr.`right_resource_id` = mrr.`id`
        WHERE mrrr.`right_id` = #{rightId}
    </select>

</mapper>
