<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupao.edu.account.server.mapper.UserLoginHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gupao.edu.account.client.entity.UserLoginHistory">
        <id column="id" property="id" />
        <result column="user_unique_code" property="userUniqueCode" />
        <result column="os_type" property="osType" />
        <result column="device_type" property="deviceType" />
        <result column="geographical_location" property="geographicalLocation" />
        <result column="device_no" property="deviceNo" />
        <result column="ip_address" property="ipAddress" />
        <result column="service_type" property="serviceType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_unique_code, os_type, device_type, geographical_location, device_no, ip_address, service_type, create_time
    </sql>

</mapper>
