<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupao.edu.account.server.mapper.UserAttentionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gupao.edu.account.client.entity.UserAttention">
        <id column="id" property="id" />
        <result column="user_unique_code" property="userUniqueCode" />
        <result column="attention_user_code" property="attentionUserCode" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_unique_code, attention_user_code, create_time, update_time
    </sql>

    <select id="selectPageAttentionVO" resultType="com.gupao.edu.account.client.resp.UserAttentionVO" parameterType="Integer">
        SELECT ua.`user_unique_code` userUniqueCode, ua.`attention_user_code` attentionUserCode,u.`avatar`
        FROM `user` u
        LEFT JOIN `user_attention` ua ON ua.`user_unique_code` = u.`user_unique_code`
        WHERE ua.`user_unique_code` = #{userUniqueCode}
    </select>

    <select id="selectPageFanVO" resultType="com.gupao.edu.account.client.resp.UserAttentionVO" parameterType="Integer">
        SELECT ua.`user_unique_code` userUniqueCode, ua.`attention_user_code` attentionUserCode,u.`avatar`
        FROM `user` u
        LEFT JOIN `user_attention` ua ON ua.`user_unique_code` = u.`attention_user_code`
        WHERE ua.`attention_user_code` = #{userUniqueCode}
    </select>

</mapper>
