<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupao.edu.marketing.server.mapper.CouponGoodsRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gupao.edu.marketing.client.entity.CouponGoodsRelation">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_type" property="goodsType" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, goods_id, goods_type, is_deleted, create_time, update_time
    </sql>

</mapper>
