<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gupao.edu.course.server.mapper.CourseCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gupao.edu.course.client.entity.CourseComment">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="user_unique_code" property="userUniqueCode" />
        <result column="nick_name" property="nickName" />
        <result column="star" property="star" />
        <result column="content" property="content" />
        <result column="office_replied" property="officeReplied" />
        <result column="office_replied_content" property="officeRepliedContent" />
        <result column="course_time" property="courseTime" />
        <result column="praise_or_negative" property="praiseOrNegative" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, user_unique_code, nick_name, star, content, office_replied, office_replied_content, course_time, praise_or_negative, create_time, update_time, is_deleted
    </sql>

</mapper>
